$color: (
  grey_0: #f7f9fc,
  grey_200: #bcc2ce,
  grey_300: #a1a9b8,
  grey_500: #687182,
  grey_700: #464f60,
  grey_900: #171c26,
  blue_light: #f4f7fc,
  blue_500: #2264e5,
  white: #fff,
  additional: #f9fafc,
);
